.app__body {
  /* display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr 3fr 1fr; */
  display: flex;
  margin-top: 2em;
}

@media (max-width: 35em) {
  .app__body {
    display: block;
  }
}
