:root {
  --body_color: #f3f2ee;
  --header_color: #000000e6;
  --primary_color: gray;
  --secondary_color: #0a66c2;
  --border_radius: 0.4em;
  --border_color: lightgray;
}
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body_color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding: 0 0.5em;
}

@media (max-width: 50em) {
  .container {
    width: 99%;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}
